<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ko">
<head>
    <title>금액 충전</title>
    <meta http equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<div th:include="include/nav.html"></div>
<section>
    <h1>충전하기</h1>
    <img src="/images/won.png" style="width: 150px; size: 150px" />
    <h3>금액 충전</h3>
    <h4 th:text="'아이디 : ' + ${name}"></h4>
    <h4 th:text="${amount} + '원'"></h4>
    
    <p>----------------------</p>
    <div><label><input type="radio" name="method" value="카드" checked/>신용카드</label></div>
    <div><label><input type="radio" name="method" value="가상계좌"/>가상계좌</label></div>
    <div><label><input type="radio" name="method" value="계좌이체"/>계좌이체</label></div>
    <div><label><input type="radio" name="method" value="휴대폰"/>휴대폰</label></div>
    <div><label><input type="radio" name="method" value="토스페이"/>토스페이</label></div>
    <div><label><input type="radio" name="method" value="토스결제"/>토스결제</label></div>
    <div><label><input type="radio" name="method" value="문화상품권"/>문화상품권</label></div>
    <div><label><input type="radio" name="method" value="게임문화상품권"/>게임문화상품권</label></div>
    <div><label><input type="radio" name="method" value="도서문화상품권"/>도서문화상품권</label></div>
    <div><label><input type="radio" name="method" value="해외간편결제"/>해외간편결제</label></div>
    <p>----------------------</p>
    <button id="payment-button">결제하기</button>
</section>
<!-- payments -->
<script src="js/tosspayments.js"></script>
<script th:inline="javascript">
	/*<![CDATA[*/
    var tossPayments = TossPayments("test_ck_JQbgMGZzorzzXdypGB7rl5E1em4d");
    var button = document.getElementById("payment-button");

    var orderId = new Date().getTime();
    
    button.addEventListener("click", function () {
        var method = document.querySelector('input[name=method]:checked').value; // "카드" 혹은 "가상계좌"
		
        var preAmount = '[(${amount})]';
        var name = '[(${name})]';
        
        var paymentData = {
        	amount : preAmount,
        	//orderId : preName,
            orderId: orderId,
            orderName: "금액 충전",
            customerName: name,
            successUrl: window.location.origin + "/chargementSuccess",
            failUrl: window.location.origin + "/fail",
        };

        if (method === '가상계좌') {
            paymentData.virtualAccountCallbackUrl = window.location.origin + '/virtual-account/callback'
        }
	
        tossPayments.requestPayment(method, paymentData);
    });
    /*]]>*/
</script>
</body>
</html>