<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ko">
<head>
    <title>결제 실패</title>
    <meta http equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<div th:include="include/nav.html"></div>
<section>
	
	<div th:if="${result}">
		<p th:text="${result}">잔액 부족</p>
	</div>

	<div th:unless="${result}">
	    <h1>결제/충전 실패</h1>
	    <p th:text="${message}">메세지</p>
	    <span th:text="'에러코드 : ' + ${code}">에러코드</span>
	</div>
	
</section>
</body>
</html>